<include href="views/header.html"></include>
<div class="container">
    <h1>Midterm Survey</h1>

    <form action="#" method="post" class="form-horizontal">
    <!-- get name -->
    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-4"><input class="form-control" type="text"
                                     name="name" id="name" value="{{ @name }}"></div>
        <!-- Display an error if there is one -->
        <check if="{{ isset(@errors['name']) }}">
            <span class="err">{{ @errors['name'] }}</span>
        </check>
    </div>

    <br>
    <!-- get options -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Check all that apply:</label>
        <div class="col-sm-4">
            <repeat group="{{ @options }}" value="{{ @options }}">
                <label><input type="checkbox" name="options[]" value="{{ @options }}"> {{ ucfirst(@options) }}</label><br>
            </repeat>
        </div>

        <!-- Display an error if there is one -->
        <check if="{{ isset(@errors['options']) }}">
            <span class="err">{{ @errors['options'] }}</span>
        </check>

    </div>
    <div class="col-sm-4">
        <input class="form-control btn btn-outline-primary"
               type="submit" value="Submit">
    </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>